<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>signup</h1>
    <form action="/signup" method="post">
        <input type="text" placeholder="enter your name" name="username">
        <input type="password" placeholder="enter your password" name="password">
        <input type="email" placeholder="enter your email" name="email">
        <input type="number" placeholder="enter your number">
        <input type="url" placeholder="enter img url" name="img">
        <input type="submit" value="submit">
       </form>
</body>
</html>